<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.adshow.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.adshow.Device">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="sn" property="sn"/>
        <result column="type" property="type"/>
        <result column="seller_sn" property="sellerSn"/>
        <result column="seller_name" property="sellerName"/>
        <result column="height" property="height"/>
        <result column="width" property="width"/>
        <result column="mac" property="mac"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="port" property="port"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="spec" property="spec"/>
        <result column="remark" property="remark"/>
        <result column="volume" property="volume"/>
        <result column="system_version" property="systemVersion"/>
        <result column="app_version" property="appVersion"/>
        <result column="status" property="status"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="open_time" property="openTime"/>
        <result column="close_time" property="closeTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="VerifyDevMap" type="com.htg.common.vo.adshow.DeviceInfoVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="sn" property="sn"/>
        <result column="type" property="type"/>
        <result column="seller_sn" property="sellerSn"/>
        <result column="seller_name" property="sellerName"/>
        <result column="height" property="height"/>
        <result column="width" property="width"/>
        <result column="mac" property="mac"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="port" property="port"/>
        <result column="volume" property="volume"/>
        <result column="system_version" property="systemVersion"/>
        <result column="app_version" property="appVersion"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Verify_Column_List">
        update_time,
        id, name, num, sn, type, seller_sn,seller_name, height, width, mac, ip_address, port, volume, system_version, app_version, status
    </sql>

    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, name, num, sn, type, seller_sn,seller_name, height, width, mac, ip_address, port, province, city, county, address_detail, longitude, latitude, spec, remark, volume, system_version, app_version, status, online_status, open_time, close_time, del_flag
    </sql>
    <select id="selectByMac" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from sr_device where mac=#{mac}
    </select>
    <select id="selectBySN" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from sr_device where sn=#{sn}
    </select>

    <select id="selectVerifyList" resultMap="VerifyDevMap" parameterType="map">
        select
        <include refid="Verify_Column_List"/>
        from sr_device
        <where>
            <if test="sellerName!=null">
                seller_name like #{sellerName}
            </if>
            <if test="type!=null">
                and type = #{type}
            </if>
            <if test="deviceId!=null">
                and id = #{deviceId}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
    </select>


    <resultMap id="DevListMap" type="com.htg.common.vo.adshow.DeviceListVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="sn" property="sn"/>
        <result column="type" property="type"/>
        <result column="seller_sn" property="sellerSn"/>
        <result column="seller_name" property="sellerName"/>
        <result column="height" property="height"/>
        <result column="width" property="width"/>
        <result column="mac" property="mac"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="port" property="port"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="volume" property="volume"/>
        <result column="system_version" property="systemVersion"/>
        <result column="app_version" property="appVersion"/>
        <result column="status" property="status"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Dev_Column_List">
        SD.id,  SD.name,  SD.num,  SD.sn,
        SD.type,  SD.seller_sn, SD.seller_name,  SD.height,
        SD.width,  SD.mac,  SD.ip_address, SD.port,
          BA1.cityName as province,
          BA2.cityName as city,
          BA3.cityName as county,
         SD.address_detail, SD.volume,SD.system_version,  SD.app_version,  SD.status,SD.online_status, SD.update_time
    </sql>


    <select id="selectDevList" resultMap="DevListMap" parameterType="map">
        select
        <include refid="Dev_Column_List"/>
        from sr_device SD
        left join base_area BA1 on SD.province=BA1.codeid
        left join base_area BA2 on SD.city=BA2.codeid
        left join base_area BA3 on SD.county=BA3.codeid
        <where>
            status!=0
            <if test="sellerName!=null">
                and SD.seller_name like #{sellerName}
            </if>
            <if test="deviceId!=null">
                and SD.id = #{deviceId}
            </if>
            <if test="status!=null">
                and SD.status = #{status}
            </if>
            <if test="onlineStatus!=null">
                and SD.online_status = #{onlineStatus}
            </if>
        </where>
    </select>

    <!-- 根据设备ID 获取节目  -->
    <resultMap id="SchedulingVOMap" type="com.htg.common.vo.adshow.SchedulingVO">
        <id column="scheduling_id" property="id"/>
        <result column="scheduling_name" property="name"/>
        <result column="release_type" property="releaseType"/>
        <result column="play_mode" property="playMode"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>

        <collection property="showVOList" ofType="com.htg.common.vo.adshow.ShowVO">
            <id column="show_id" property="id"/>
            <result column="show_name" property="name"/>
            <result column="show_num" property="num"/>
            <result column="url" property="url"/>
            <result column="main_img_url" property="mainImgUrl"/>
            <result column="add_by" property="addBy"/>
            <result column="author_id" property="authorId"/>
        </collection>
    </resultMap>


    <!-- 根据设备ID 获取排期 -->
    <sql id="SchedulingVO">
        SRS.id as scheduling_id ,SRS.name as scheduling_name,SRS.release_type,SRS.play_mode,SRS.start_time,SRS.end_time,
        SSH.id as show_id ,SSH.name as show_name ,SSH.num as show_num ,SSH.url,SSH.main_img_url,SSH.add_by,SSH.author_id
    </sql>

    <select id="selectSchedulingVOList" resultMap="SchedulingVOMap" parameterType="int">
        select
        <include refid="SchedulingVO"/>
        from sr_scheduling_device_rel SSDREL
        left join sr_scheduling SRS on SRS.id=SSDREL.scheduling_id
        left join sr_scheduling_show_rel SSSR on SSSR.scheduling_id=SRS.id
        left join sr_show SSH on SSH.id=SSSR.show_id where SSDREL.device_id=#{deviceId} and unix_timestamp(SRS.end_time)> unix_timestamp(now());
    </select>




    <select id="selectSchedulingVO" resultMap="SchedulingVOMap" parameterType="int">
        select
        <include refid="SchedulingVO"/>
        from sr_scheduling SRS
        left join sr_scheduling_show_rel SSSR on SSSR.scheduling_id=SRS.id
        left join sr_show SSH on SSH.id=SSSR.show_id where SRS.id=#{schedulingId};
    </select>


</mapper>
