<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htg.adshow.mapper.ShowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.htg.common.entity.adshow.Show">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="num" property="num"/>
        <result column="url" property="url"/>
        <result column="main_img_url" property="mainImgUrl"/>
        <result column="add_by" property="addBy"/>
        <result column="author_id" property="authorId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        update_user,
        create_time,
        update_time,
        id, name, num, url, main_img_url, add_by, author_id, del_flag
    </sql>

    <select id="selectPlayCountByAuthorId" resultType="java.lang.Integer">
        select count(*) from sr_show where author_id=#{authorId}
    </select>

</mapper>
